.App__header{
    display: block;
    width: 100%;
}
.Header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.Toolbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #757575;
    .Toolbar__menuBtn, .Toolbar__favorite, .Toolbar__user, .Toolbar__cart{
        cursor: pointer;
        &:hover{
            color: #888;
        }
    }
}
.Favorite{
    position: relative;
    .Favorite__count{
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background-color: #0288d1;
        color: #fff;
        border-radius: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
}

.Searchbar{
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;
    .Searchbar__input{
        appearance: none;
        border: 1px solid #999;
        border-radius: 10px;
        display: block;
        padding: 0 40px 0 10px;
        width: 100%;
        height: 45px;
        font-size: 14px;
        outline: none;
        &:focus{
            outline: none;
        }
    }
    .Searchbar__btn{
        appearance: none;
        border: 0px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 10px;
        right: 18px;
        padding: 0;
        color: #0288d1;
    }
}

.TagCloud{
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 10px;
    &::-webkit-scrollbar {
        display: none;
    }
    .TagList{
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }
    .Tag{
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        background: #0288d1;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 12px;
        text-align: center;
        color: white;
        cursor: pointer;

    }
}