.ProductsList{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;

	.Product{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 10px;
		width: 100%;
		.Product__image{
			display: block;
			width: 100%;
			img{
				display: block;
				width: 100%;
			}
		}
		.Product__title{
			display: block;
			width: 100%;
			h2{
				box-sizing: inherit;
				color: #757575;
				display: block;
				font-size: 16px;
				line-height: 1.4;
				font-weight: 300;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}
		.product-control{
			display: block;
			width: 100%;
		}
		.Product__price{
			display: block;
			width: 100%;
			.Price__full{
				color: #444;
				font-size: 20px;
				font-weight: 700;
				display: block;
				margin-bottom: 5px;
				width: 100%;
				span{
					font-weight: 300;
				}
			}
			.Price__card{
				color: #444;
				font-size: 12px;
				font-weight: 700;
				display: block;
				width: 100%;
				span{
					font-weight: 300;
				}
			}
		}
		.Product__sale{
			background-color: #ffca28;
			border-radius: 15px;
			color: #444;
			display: block;
			padding: 2px 15px;
			text-transform: uppercase;
			font-size: 12px;
			position: absolute;
			top: 20px;
			left: 20px;
		}
		.Product__whishList{
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			border-radius: 30px;
			color: #444;
			box-shadow: 0 0 4px rgba(0,0,0,0.2);
			padding: 10px 20px;
			position: absolute;
			top: 20px;
			right: 20px;
			p{
				margin: 0 10px 0 0;
				font-weight: 300;
			}
			&.active{
				background-color: #0288d1;
				color: #fff;
			}
		}
	}
	&.list{
		.Product{
			width: 49%;
			.Product__price{
				margin-bottom: 10px;
				.Price__full{
					font-size: 16px;
				}
				.Price__card{
					font-size: 8px;
				}
			}
			.Product__sale{
				position: relative;
				top: 0;
				left: 0;
				max-width: 80px;
				text-align: center;
			}
			.Product__whishList{
				border-radius: 50%;
				height: 40px;
				width: 40px;
				p{
					display: none;
				}
			}
		}
	}
	&.grid{
		.Product{
			align-items: stretch;
			padding-bottom: 10px;
			margin-bottom: 10px;
			width: 100%;
			.Product__title{
				h2{
					margin-top: 0;
					margin-bottom: 7px;
				}
			}
			.Product__image{
				display: block;
				width: 38%;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
			.product-control{
				display: flex;
				width: 60%;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
			}
			.Product__price{
				margin-bottom: 10px;
				.Price__full{
					font-size: 16px;
				}
				.Price__card{
					font-size: 8px;
				}
			}
			.Product__sale{
				position: relative;
				top: 0;
				left: 0;
				width: 80px;
			}
			.Product__whishList{
				border-radius: 50%;
				height: 40px;
				width: 40px;
				position: relative;
				top: 0;
				right: 0;
				p{
					display: none;
				}
			}
		}
	}
}