.StatusBar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.Results{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    p{
        margin: 0;
    }
    .Results__number{
        font-weight: bold;
        margin: 0;
    }
}

.Exibition{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    p{
        color: #0288d1;
        font-size: 14px;
        margin: 0;
        width: 55px;
    }
    .Exibition__items{
        cursor: pointer;
        color: #757575;
        border: 1px solid #757575;
        border-radius: 10px;
        margin-left: 7px;
        padding: 5px 8px;
        &.active{
            color: #0288d1;
            border: 1px solid #0288d1;
        }
    }
}