@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
.App__header {
  display: block;
  width: 100%; }

.Header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.Toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: #757575; }
  .Toolbar .Toolbar__menuBtn, .Toolbar .Toolbar__favorite, .Toolbar .Toolbar__user, .Toolbar .Toolbar__cart {
    cursor: pointer; }
    .Toolbar .Toolbar__menuBtn:hover, .Toolbar .Toolbar__favorite:hover, .Toolbar .Toolbar__user:hover, .Toolbar .Toolbar__cart:hover {
      color: #888; }

.Favorite {
  position: relative; }
  .Favorite .Favorite__count {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: #0288d1;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 12px; }

.Searchbar {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%; }
  .Searchbar .Searchbar__input {
    appearance: none;
    border: 1px solid #999;
    border-radius: 10px;
    display: block;
    padding: 0 40px 0 10px;
    width: 100%;
    height: 45px;
    font-size: 14px;
    outline: none; }
    .Searchbar .Searchbar__input:focus {
      outline: none; }
  .Searchbar .Searchbar__btn {
    appearance: none;
    border: 0px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 10px;
    right: 18px;
    padding: 0;
    color: #0288d1; }

.TagCloud {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 10px; }
  .TagCloud::-webkit-scrollbar {
    display: none; }
  .TagCloud .TagList {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px; }
  .TagCloud .Tag {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background: #0288d1;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    color: white;
    cursor: pointer; }

.StatusBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%; }

.Results {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px; }
  .Results p {
    margin: 0; }
  .Results .Results__number {
    font-weight: bold;
    margin: 0; }

.Exibition {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }
  .Exibition p {
    color: #0288d1;
    font-size: 14px;
    margin: 0;
    width: 55px; }
  .Exibition .Exibition__items {
    cursor: pointer;
    color: #757575;
    border: 1px solid #757575;
    border-radius: 10px;
    margin-left: 7px;
    padding: 5px 8px; }
    .Exibition .Exibition__items.active {
      color: #0288d1;
      border: 1px solid #0288d1; }

.ProductsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%; }
  .ProductsList .Product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%; }
    .ProductsList .Product .Product__image {
      display: block;
      width: 100%; }
      .ProductsList .Product .Product__image img {
        display: block;
        width: 100%; }
    .ProductsList .Product .Product__title {
      display: block;
      width: 100%; }
      .ProductsList .Product .Product__title h2 {
        box-sizing: inherit;
        color: #757575;
        display: block;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%; }
    .ProductsList .Product .product-control {
      display: block;
      width: 100%; }
    .ProductsList .Product .Product__price {
      display: block;
      width: 100%; }
      .ProductsList .Product .Product__price .Price__full {
        color: #444;
        font-size: 20px;
        font-weight: 700;
        display: block;
        margin-bottom: 5px;
        width: 100%; }
        .ProductsList .Product .Product__price .Price__full span {
          font-weight: 300; }
      .ProductsList .Product .Product__price .Price__card {
        color: #444;
        font-size: 12px;
        font-weight: 700;
        display: block;
        width: 100%; }
        .ProductsList .Product .Product__price .Price__card span {
          font-weight: 300; }
    .ProductsList .Product .Product__sale {
      background-color: #ffca28;
      border-radius: 15px;
      color: #444;
      display: block;
      padding: 2px 15px;
      text-transform: uppercase;
      font-size: 12px;
      position: absolute;
      top: 20px;
      left: 20px; }
    .ProductsList .Product .Product__whishList {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 30px;
      color: #444;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      padding: 10px 20px;
      position: absolute;
      top: 20px;
      right: 20px; }
      .ProductsList .Product .Product__whishList p {
        margin: 0 10px 0 0;
        font-weight: 300; }
      .ProductsList .Product .Product__whishList.active {
        background-color: #0288d1;
        color: #fff; }
  .ProductsList.list .Product {
    width: 49%; }
    .ProductsList.list .Product .Product__price {
      margin-bottom: 10px; }
      .ProductsList.list .Product .Product__price .Price__full {
        font-size: 16px; }
      .ProductsList.list .Product .Product__price .Price__card {
        font-size: 8px; }
    .ProductsList.list .Product .Product__sale {
      position: relative;
      top: 0;
      left: 0;
      max-width: 80px;
      text-align: center; }
    .ProductsList.list .Product .Product__whishList {
      border-radius: 50%;
      height: 40px;
      width: 40px; }
      .ProductsList.list .Product .Product__whishList p {
        display: none; }
  .ProductsList.grid .Product {
    align-items: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%; }
    .ProductsList.grid .Product .Product__title h2 {
      margin-top: 0;
      margin-bottom: 7px; }
    .ProductsList.grid .Product .Product__image {
      display: block;
      width: 38%; }
      .ProductsList.grid .Product .Product__image img {
        height: 100%;
        object-fit: cover; }
    .ProductsList.grid .Product .product-control {
      display: flex;
      width: 60%;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center; }
    .ProductsList.grid .Product .Product__price {
      margin-bottom: 10px; }
      .ProductsList.grid .Product .Product__price .Price__full {
        font-size: 16px; }
      .ProductsList.grid .Product .Product__price .Price__card {
        font-size: 8px; }
    .ProductsList.grid .Product .Product__sale {
      position: relative;
      top: 0;
      left: 0;
      width: 80px; }
    .ProductsList.grid .Product .Product__whishList {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      position: relative;
      top: 0;
      right: 0; }
      .ProductsList.grid .Product .Product__whishList p {
        display: none; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

.App {
  background-color: #fff;
  max-width: 430px;
  margin: 0 auto; }
