@import './styles/header';
@import './styles/statusBar';
@import './styles/productList';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*, *::after, *::before{
  box-sizing: border-box;
}
body{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.App{
  background-color: #fff;
  max-width: 430px;
  margin: 0 auto;
}
